<h1>Edit Post</h1>
<form action="/edit" method="POST">
  <div class="form-group">
    <label for="formGroupTitle">Title</label>
    <input name="title" type="text" class="form-control" id="formGroupTitle">
  </div>
  <div class="form-group">
    <label for="formGroupImage">Image URL</label>
    <input name="imgUrl" type="text" class="form-control" id="formGroupImage">
  </div>
  <div class="form-group">
    <textarea name="body" class="form-control" rows="25"></textarea>
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
